body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 10px 24px;
    background-color: #bd1906;;
    align-items: center;
    color: #fff;
}
.navbar .h1{
    font-weight: bold;
    font-size: 28px;
}
.navbar .user{
    font-size: 28px;
}

.slider{
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.innerDIv{
    /* overflow: hidden; */
    display: flex;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.innerDIv > div{
    border-radius: 15px;
    overflow: hidden;
    margin-right: 25px;
}
.innerDIv > div img{
    width: 100%;
}

/* codepen content*/
.itemSec{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.itemSec > div > p{
    margin: 0;
    font-size: 21px;
    border-bottom: 3px solid gray;
    padding-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    color: grey;

}
.oderFood h3{
    padding-top: 30px;
    font-size: 30px;
    color: blueviolet;
}
input[type="checkbox"][id^="checkbox"] {
    display: none;
}

label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -15px;
    left: -15px;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    transition-duration: 0.4s;
    transform: scale(0);
    z-index: 100;
  }

  label img {
    height: 150px;
    width: 200px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border-radius: 15px;
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
  }
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }
  
  .oderFood{
      text-align: center;
      /* background-color: rgb(199, 237, 123); */
      margin: 100px 200px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  }

  .waitOrder{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      font-size: 20px;
  }
  .waitOrder span{
      margin-left: 20px;
      font-weight: 600;
  }

  .oderFood button{
      font-size: 20px;
      padding: 15px 30px;
      border-radius: 13px;
      border: 0;
      background-color: #bd1906;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      margin-top: 60px;
      margin-bottom: 30px;
  }

  #orderMessage{
      text-align: center;
  }